In [2]:
import pandas as pd

df =pd.read_csv('vine_analysis.csv')

print(df)

              review_id  star_rating  helpful_votes  total_votes vine  \
0        R28HBXXO1UEVJT          5.0            0.0          0.0    N
1         RZKRFS2UUMFFU          5.0           15.0         15.0    N
2        R2WAU9MD9K6JQA          3.0            6.0          8.0    N
3        R36SCTKYTVPZPC          5.0           10.0         11.0    N
4        R10BM6JUOJX27Q          3.0            0.0          0.0    Y
...                 ...          ...            ...          ...  ...
6106714  R37CFAP1593I64          5.0           12.0         14.0    N
6106715  R1F8W5393LRNEK          2.0            8.0         13.0    N
6106716  R3QUWJ2VOQTE9U          5.0            7.0          9.0    N
6106717   RBTVBM87UTMOA          5.0            1.0          1.0    N
6106718   RIV7I4YMMXTKW          5.0            7.0          8.0    N

        verified_purchase
0                       N
1                       Y
2                       N
3                       Y
4                       N
...                   ...
6106714                 N
6106715                 N
6106716                 N
6106717                 N
6106718                 Y

[6106719 rows x 6 columns]

In [14]:
#more than 20 votes
total_votes = df[df["total_votes"]>=20]
total_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
16,R18VIM840CEFRP,1.0,16.0,105.0,N,N
21,R14PMAJTY0EAAT,4.0,135.0,142.0,N,Y
55,R1363VA3TPNLVB,5.0,370.0,388.0,N,Y
69,RBQZC5A3TSWT5,5.0,11.0,22.0,N,Y
76,RW00TDPV9U93E,1.0,35.0,76.0,N,N
...,...,...,...,...,...,...
6106689,R2I8MDN6WM5710,5.0,54.0,55.0,N,N
6106690,R1TV0M5MOW448J,5.0,43.0,48.0,N,N
6106701,R2AD5IDMI69FX0,5.0,21.0,29.0,N,Y
6106708,RI7PAHAEF7JTY,1.0,16.0,82.0,N,N
6106710,RDH0QQEAA7WEK,4.0,23.0,24.0,N,N

In [35]:
#The data is filtered to create a DataFrame or table where the percentage of helpful_votes is equal to or greater than 50% 


df['%']=(df['helpful_votes']/df['total_votes'])*100
df_per=df[df['%']>=50]
df_per

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,%
1,RZKRFS2UUMFFU,5.0,15.0,15.0,N,Y,100.000000
2,R2WAU9MD9K6JQA,3.0,6.0,8.0,N,N,75.000000
3,R36SCTKYTVPZPC,5.0,10.0,11.0,N,Y,90.909091
7,R3KQYBQOLYDETV,4.0,2.0,2.0,N,N,100.000000
11,R7KY8VL871MVL,5.0,13.0,15.0,N,Y,86.666667
...,...,...,...,...,...,...,...
6106714,R37CFAP1593I64,5.0,12.0,14.0,N,N,85.714286
6106715,R1F8W5393LRNEK,2.0,8.0,13.0,N,N,61.538462
6106716,R3QUWJ2VOQTE9U,5.0,7.0,9.0,N,N,77.777778
6106717,RBTVBM87UTMOA,5.0,1.0,1.0,N,N,100.000000
6106718,RIV7I4YMMXTKW,5.0,7.0,8.0,N,Y,87.500000

In [36]:
#The data is filtered to create a DataFrame or table where there is a Vine review
vine_review = df_per[df_per["vine"]=="Y"]

vine_review

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,%
99,R3SXUTS4UYEUWO,3.0,5.0,7.0,Y,N,71.428571
164,R8OVLQP7KOX9X,5.0,4.0,5.0,Y,N,80.000000
208,R1RO96PEP3VM6U,5.0,9.0,11.0,Y,N,81.818182
450,RJGXGJECGPTT9,5.0,1.0,2.0,Y,N,50.000000
451,R116W4SUW4M6KG,4.0,3.0,3.0,Y,N,100.000000
...,...,...,...,...,...,...,...
4931202,R1CBE6X4L8ZU93,4.0,2.0,3.0,Y,N,66.666667
4931850,RGT2WAM8IIGHY,4.0,3.0,5.0,Y,N,60.000000
4932899,R13VHDUQW0CGGJ,4.0,3.0,6.0,Y,N,50.000000
4944621,R1DXRZHU2MPM5S,4.0,4.0,4.0,Y,N,100.000000
5204536,R1AUZG8AOWQW9V,5.0,2.0,2.0,Y,N,100.000000

In [37]:
#The data is filtered to create a DataFrame or table where there isnâ€™t a Vine review (5 pt)
vine_review_no = df_per[df_per["vine"]=="N"]

vine_review_no

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,%
1,RZKRFS2UUMFFU,5.0,15.0,15.0,N,Y,100.000000
2,R2WAU9MD9K6JQA,3.0,6.0,8.0,N,N,75.000000
3,R36SCTKYTVPZPC,5.0,10.0,11.0,N,Y,90.909091
7,R3KQYBQOLYDETV,4.0,2.0,2.0,N,N,100.000000
11,R7KY8VL871MVL,5.0,13.0,15.0,N,Y,86.666667
...,...,...,...,...,...,...,...
6106714,R37CFAP1593I64,5.0,12.0,14.0,N,N,85.714286
6106715,R1F8W5393LRNEK,2.0,8.0,13.0,N,N,61.538462
6106716,R3QUWJ2VOQTE9U,5.0,7.0,9.0,N,N,77.777778
6106717,RBTVBM87UTMOA,5.0,1.0,1.0,N,N,100.000000
6106718,RIV7I4YMMXTKW,5.0,7.0,8.0,N,Y,87.500000

In [39]:
#The total number of reviews, the number of 5-star reviews, and the percentage 5-star reviews are calculated for all Vine and non-Vine reviews
#total number of reviews
vine_review.count()

review_id            70948
star_rating          70948
helpful_votes        70948
total_votes          70948
vine                 70948
verified_purchase    70948
%                    70948
dtype: int64

In [52]:
#number of 5 star reviews
vine_review_five = vine_review[vine_review['star_rating']==5]
#vine_review_five('star_rating').value_counts()
print(vine_review_five['star_rating'].value_counts())

#vine_review_five

5.0    26661
Name: star_rating, dtype: int64

In [53]:
#percentage of all 5 star reviews

vine_review_five

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,%
164,R8OVLQP7KOX9X,5.0,4.0,5.0,Y,N,80.000000
208,R1RO96PEP3VM6U,5.0,9.0,11.0,Y,N,81.818182
450,RJGXGJECGPTT9,5.0,1.0,2.0,Y,N,50.000000
1808,R259UP0LCUYTA2,5.0,1.0,2.0,Y,N,50.000000
1848,R1G34I12PDSO9X,5.0,2.0,3.0,Y,N,66.666667
...,...,...,...,...,...,...,...
4892500,RS25E4X34Q8X,5.0,2.0,2.0,Y,N,100.000000
4893616,R1JRS4SSCMV1K2,5.0,1.0,1.0,Y,N,100.000000
4910390,R13TI3G57NNREO,5.0,8.0,10.0,Y,N,80.000000
4929454,RLBKMTHV5MOV8,5.0,8.0,11.0,Y,N,72.727273
5204536,R1AUZG8AOWQW9V,5.0,2.0,2.0,Y,N,100.000000

In [54]:
#total number of reviews for non vine

vine_review_no.count()

review_id            3762229
star_rating          3762229
helpful_votes        3762229
total_votes          3762229
vine                 3762229
verified_purchase    3762229
%                    3762229
dtype: int64

In [55]:
#number of 5 star reviews for no vine
vine_review_no_five = vine_review_no[vine_review_no['star_rating']==5]
#vine_review_five('star_rating').value_counts()
print(vine_review_no_five['star_rating'].value_counts())

5.0    2388400
Name: star_rating, dtype: int64

In [56]:
vine_review_no

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,%
1,RZKRFS2UUMFFU,5.0,15.0,15.0,N,Y,100.000000
2,R2WAU9MD9K6JQA,3.0,6.0,8.0,N,N,75.000000
3,R36SCTKYTVPZPC,5.0,10.0,11.0,N,Y,90.909091
7,R3KQYBQOLYDETV,4.0,2.0,2.0,N,N,100.000000
11,R7KY8VL871MVL,5.0,13.0,15.0,N,Y,86.666667
...,...,...,...,...,...,...,...
6106714,R37CFAP1593I64,5.0,12.0,14.0,N,N,85.714286
6106715,R1F8W5393LRNEK,2.0,8.0,13.0,N,N,61.538462
6106716,R3QUWJ2VOQTE9U,5.0,7.0,9.0,N,N,77.777778
6106717,RBTVBM87UTMOA,5.0,1.0,1.0,N,N,100.000000
6106718,RIV7I4YMMXTKW,5.0,7.0,8.0,N,Y,87.500000